
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #333;
}

.logo {
    font-weight: bold;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background: #f7f9fc;
}

.hero-text h1 {
    font-size: 48px;
}

.hero-text span {
    color: #6c63ff;
}

.hero-text p {
    margin: 15px 0;
    color: #555;
}

.btn {
    background: #6c63ff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.hero-img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    object-fit: cover;
}

.section {
    min-height: 100vh;
    padding: 120px 40px;
    text-align: center;
}

.section h2 {
    margin-bottom: 25px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: #f2f2f2;
    padding: 20px 40px;
    border-radius: 10px;
}
